<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clusters</title>

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>

    <style>
        .bubble {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Clusters</h1>

    <!-- Container for the cluster bubble chart -->
    <div id="cluster_bubble_chart"></div>

    <script>
        var clusterDataList = {{ cluster_details|tojson|safe }};
    
        // set the dimensions and margins of the graph
        var diameter = 1000;
    
        // create the bubble chart
        var bubble = d3.pack()
            .size([diameter, diameter])
            .padding(1.5);
    
        var svg = d3.select("#cluster_bubble_chart")
            .append("svg")
            .attr("width", diameter)
            .attr("height", diameter)
            .attr("class", "bubble");
    
        var clusters = clusterDataList.map(function(cluster) {
            return { cluster_index: cluster.cluster_index, size: cluster.documents.length };
        });
    
        // create the root node for the bubble chart
        var root = d3.hierarchy({ children: clusters })
            .sum(function(d) { return d.size; });
    
        var node = svg.selectAll(".node")
            .data(bubble(root).descendants())
            .enter()
            .filter(function(d){ return !d.children; })
            .append("g")
            .attr("class", "node")
            .on("click", function(d) {
                window.location.href = "/cluster/" + d.data.cluster_index;
            })
            .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    
        node.append("circle")
            .attr("r", function(d) { return d.r; })
            .style("fill", function() {
                var randomColor = d3.rgb(Math.random() * 150 + 100, Math.random() * 150 + 100, Math.random() * 150 + 100);
                return randomColor.toString();
            });
    
        node.append("text")
            .attr("dy", ".2em")
            .style("text-anchor", "middle")
            .text(function(d) { return "Cluster " + d.data.cluster_index; })
            .style("fill", "black");
    </script>
</body>
</html>
